<!-- 
<div>
    <h2>Welcome to my collection!</h2>
</div>

<div class="hero-unit" style="height:260px;">

    <p>&nbsp;</p>

    <img src="img/logo.png" alt="" width="300" height="200" style="float:left">

    <p style="padding-top:50px;padding-left:340px;">This is a sample app that demonstrates how to build applications
        with <a href="http://documentcloud.github.com/backbone/">Backbone.js</a> and <a
                href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.
        <br/><br/> <a class="btn btn-primary btn-large" href="http://coenraets.org">Learn more &raquo;</a>
    </p>
</div>
 -->
<div class=row>
	<div id="myCarousel" class="carousel slide span4">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><img src="img/TVB_Calendar_Jun_2009.jpg"></div>
			<div class="item"><img src="img/TVB_Calendar_Mar_2009.jpg"></div>
			<div class="item"><img src="img/TVB_Calendar_May_2009.jpg"></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div id="myCarousel" class="carousel slide span4">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><img src="img/TVB_Calendar_Jun_2009.jpg"></div>
			<div class="item"><img src="img/TVB_Calendar_Mar_2009.jpg"></div>
			<div class="item"><img src="img/TVB_Calendar_May_2009.jpg"></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div id="myCarousel" class="carousel slide span4">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><img src="img/TVB_Calendar_Jun_2009.jpg"></div>
			<div class="item"><img src="img/TVB_Calendar_Mar_2009.jpg"></div>
			<div class="item"><img src="img/TVB_Calendar_May_2009.jpg"></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>

<table class="table table-striped">
<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Year</th>
		</tr>
	</thead>
	<tr>
		<td>row 1, cell 1</td>
		<td>row 1, cell 2</td>
	</tr>
	<tr>
		<td>row 2, cell 1</td>
		<td>row 2, cell 2</td>
	</tr>
	<tr>
		<td>row 2, cell 1</td>
		<td>row 2, cell 2</td>
	</tr>
	<tr>
		<td>row 2, cell 1</td>
		<td>row 2, cell 2</td>
	</tr>
	<tr>
		<td>row 2, cell 1</td>
		<td>row 2, cell 2</td>
	</tr>
	<tr>
		<td>row 2, cell 1</td>
		<td>row 2, cell 2</td>
	</tr>
</table>
